<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>
      {{ info.name }}'s Survey
    </h1>
    <form action="answer" method="post">
      <p>
        <label>
          <b>Your name: </b>
          <input type="text" name="name" size=40 />
        </label>
      </p>
      {% for question in info.questions %}
      <p>
        {% if question.choices is defined %}
          <b>{{ question.prompt }}</b>
          <br />
          {% for choice in question.choices %}
            <label>
              <input type="radio" name="{{ question.key }}" value="{{ choice }}" />
              {{ choice }}
            </label>
            <br />
          {% endfor %}
        {% else %}
          <label>
            <b>{{ question.prompt }}</b>
            <input type="text" name="{{ question.key }}" size="66" />
          </label>
          <br />
        {% endif %}
      </p>
      {% endfor %}
      <input type="submit" value="Submit completed survey" />
    </form>
  </body>
</html>
